NEXT_PUBLIC_SUPABASE_URL=https://YOUR_PROJECT.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=YOUR_SUPABASE_ANON_KEY
SUPABASE_SERVICE_ROLE_KEY=YOUR_SERVICE_ROLE_KEY
NEXT_PUBLIC_MAP_CENTER_LAT=15.81047
NEXT_PUBLIC_MAP_CENTER_LNG=102.028812
NEXT_PUBLIC_MAP_ZOOM=11
